<div class="section">
    <div class="mandala">
        <img class="mandala-right" src="../assets/img/mandala-right.png">
        <img class="mandala-left" src="../assets/img/mandala-left.png">
    </div>
</div>
<div class="container">
    <div class="row content-home mb-5">
        <div class="col-md-6 content-home-child">
            <h1 class="epds-content">Efficient and Precise Digital Solutions</h1>
        </div>
        <div class="col-md-6">
            <img class="epds-img" src="../assets/img/epds.png" alt="">
        </div>
    </div>
</div>
