img.mandala-right{
    width: 150px;
    height: auto;
    position: absolute;
    right: 0;
}
img.mandala-left{
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
}
.content-home {
    height: 34em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1{
        color: #0E3160;
        text-align: center;
        font-size: 3.5em;
    }
    img {
        width: 80%;
    }
    img.epds-img, h1.epds-content {
        position: relative;
        animation-name: moveUp;
        animation-duration: 1s;  
        animation-fill-mode: both;
      }
      @keyframes moveUp {
        from {top: 50px;}
        to {top: 0px;}
      }
    h1.epds-content {
        position: relative;
        animation-name: moveContent;
        animation-duration: 1s;  
        animation-fill-mode: both;
      }
      @keyframes moveContent {
        from {right: 30px;}
        to {right: 0px;}
      }
}
@media only screen and (max-width: 768px) {
    .content-home-child{
        margin-top: 10em;
    }
}