img.mandala-right{
    width: 150px;
    height: auto;
    position: absolute;
    right: 0;
}
img.mandala-left{
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
}
.content-about {
    text-align: center;
    height: 34em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        font-size: 1.4em;
        text-align: left;
    }
    img {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .content-about-child{
        margin-top: 10em;
    }
    .content-about {
        p{
            text-align: center;
        }
    }
}