<div class="container">
    <div class="row content-about mb-5">
        <div class="col-md-6 content-about-child">
            <img class="about-img" src="../assets/img/jvdev.png" alt="">
        </div>
        <div class="col-md-6 mt-3">
            <img class="about-img-content mb-2" src="../assets/img/about-img-content.png" alt="">
            <h1>ABOUT</h1>
            <p class="about-content mt-3">Hi! My name is <b>Jurjani Valles</b>,<br/> I am experienced in web development. <br/>
                If you are looking for methodical, detailed, organized, efficient, and precise IT solutions for your business needs, then you would find my services beneficial to your company. <br/>
                I could be of help when it comes to creating, maintaining, and updating websites for your company. I am proficient in JavaScript, HTML, CSS, and I have solid knowledge and experience in Angular, and WordPress; and other development tools.</p>
        </div>
    </div>
</div>
