img.mandala-right{
    width: 150px;
    height: auto;
    position: absolute;
    right: 0;
}
img.mandala-left{
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
}
.content-about {
    text-align: center;
    height: 34em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        color: #0E3160;
        font-size: 1.4em;
        text-align: left;
    }
    img {
        width: 70%;
    }
    p.about-content {
        position: relative;
        animation-name: moveUp;
        animation-duration: 1s;  
        animation-fill-mode: both;
    }
    @keyframes moveUp {
        from {top: 50px;}
        to {top: 0px;}
    }
    .about-img {
        position: relative;
        animation-name: moveContent;
        animation-duration: 1s;  
        animation-fill-mode: both;
      }
    @keyframes moveContent {
        from {right: 50px;}
        to {right: 0px;}
    }

}
@media only screen and (max-width: 768px) {
    .content-about-child{
        margin-top: 10em;
    }
    .content-about {
        p{
            text-align: center;
        }
    }
}