.content-about {
    text-align: center;
    p{
        color: #0E3160;
        font-size: 1.4em;
        text-align: left;
    }
    img {
        width: 70%;
    }
    p.about-content {
        animation-name: moveUp;
    }
    .about-img {
        animation-name: moveContent;
    }
    .about-img-content {
        z-index: 999;
        position: absolute;
        width: 15em;
        bottom: -50px;
        left: 0;
    }
    .about-img-content {
        animation-name: moveRight;
        animation-duration: 4s;  
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
    }

}