/* You can add global styles to this file, and also import other style files */

img.mandala-right{
    width: 150px;
    height: auto;
    position: absolute;
    right: 0;
}
img.mandala-left{
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
}
.content-about, .content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
p.about-content, .contact-list, .contact-map, .about-img, img.epds-img, h1.epds-content {
    position: relative;
    animation-duration: 1s;  
    animation-fill-mode: both;
}

@keyframes moveUp {
    from {top: 50px;}
    to {top: 0px;}
}
@keyframes moveContent {
    from {right: 50px;}
    to {right: 0px;}
}
@keyframes moveRight {
    from {left: -250px;}
    to {left: 150px;}
}