/* You can add global styles to this file, and also import other style files */

img.mandala-right{
    width: 150px;
    height: auto;
    position: absolute;
    right: 0;
}
img.mandala-left{
    width: 150px;
    height: auto;
    position: absolute;
    left: 0;
}