<div class="container-fluid content-contact">
    <div class="row justify-content-center">
        <h1 class="text-center mt-5 mb-5">CONTACT</h1>
        <div class="col-md-4 contact-map mt-5">
            <div class="mapouter m-auto"><div class="gmap_canvas"><iframe width="400" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=davao%20city&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:250px;width:auto;}</style><a href="https://www.embedgooglemap.net">embed google maps in wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:auto;}</style></div></div>
        </div>
        <div class="col-md-4 contact-list mt-5">
            <ul class="">
                <li class="">
                    <img src="../assets/img/icon/navigation.png" width="30" height="30" class="rounded float-start" alt="...">
                    <p>&nbsp;Davao City, Davao Del Sur, Philippines, 8000</p>
                </li>
                <li class="">
                    <img src="../assets/img/icon/mobile.png" width="30" height="30" class="rounded float-start" alt="...">
                    <p>+63 9177 409 319</p>
                </li>
                <li class="">
                    <img src="../assets/img/icon/gmail.png" width="30" height="30" class="rounded float-start" alt="...">
                    <p>&nbsp;&nbsp;jurjani.valles@gmail.com</p>
                </li>
                <li class="">
                    <img src="../assets/img/icon/linkedin.png" width="30" height="30" class="rounded float-start" alt="...">
                    <p>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/jurjani-valles-39313516b/">LinkedIn</a></p>
                </li>
                <li class="">
                    <img src="../assets/img/icon/github.png" width="30" height="30" class="rounded float-start" alt="...">
                    <p>&nbsp;&nbsp;<a href="https://github.com/jvallno">Github</a></p>
                </li>
              </ul>
        </div>
    </div>
</div>
