
.content-contact{
    height: 34em;
    .contact-list{
        display: flex;
        align-items: center;
        ul{
            list-style-type: none;
            padding: 0;
            li{
                a{
                    text-decoration: none;
                }
            }
        }
    }
    
    .contact-list, .contact-map{
        animation-name: moveUp;
    }

    .contact-list{
        animation-delay: .25s;
    }
}