<div class="section">
    <div class="mandala">
        <img class="mandala-right" src="../assets/img/mandala-right.png">
        <img class="mandala-left" src="../assets/img/mandala-left.png">
    </div>
</div>
<div class="container">
    <div class="row content-portfolio mb-5">
        <h1 class="mb-5 mt-5">PORTFOLIO</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col profOne">
                <div class="card h-100 portfolio-contents">
                    <img src="../assets/img/keri.png" class="card-img-top" alt="keri">
                    <div class="card-body">
                    <h4 class="card-title">Keri Delivery Inc.</h4>
                    <h6 class="mt-3">Company Description</h6>

                    <p class="card-text">The company provide services like: shipment, order, and bill payments.</p>
                    
                    <h6 class="mt-3">Tools</h6>
                    <p class="card-text">HTML, CSS, JavaScript, TypeScript, Angular Framework, and Ionic Framework.</p>

                    <h6 class="mt-3">Role</h6>
                    <p class="card-text">Front-end developer, Creating widgets, Updating and debugging, optimization, maintinance.</p>

                    <h6 class="mt-3">Link</h6>
                    <p class="card-text"><a href="https://keridelivery.com/index.html">Keri Delivery Inc.</a></p>
                </div>
                <div class="card-footer">
                </div>
                </div>
            </div>
            <div class="col profTwo">
                <div class="card h-100 portfolio-contents">
                    <img src="../assets/img/mmc.png" class="card-img-top" alt="marketing-media-cloud">
                <div class="card-body">
                    <h5 class="card-title">Marketing Media Cloud</h5>
                    
                    <h6 class="mt-3">Company Description</h6>

                    <p class="card-text">MMC offers various services when it comes to digital marketing and other digital services, one of these is Search Engine Marketing, Digital Branding, and Online Business Development. </p>

                    <h6 class="mt-3">Tools</h6>
                    <p class="card-text">HTML, CSS, JavaScript, JQuery, and WordPress.</p>

                    <h6 class="mt-3">Role</h6>
                    <p class="card-text">Front-end developer, Creating custom template, Creating widgets, Updating and debugging, optimization, maintinance.</p>

                    <h6 class="mt-3">Link</h6>
                    <p class="card-text"><a href="https://marketingmediacloud.com/">Marketing Media Cloud</a></p>
                </div>
                <div class="card-footer">
                </div>
                </div>
            </div>
            <div class="col profThree">
                <div class="card h-100 portfolio-contents">
                    <img src="../assets/img/desfran.png" class="card-img-top" alt="desfran">
                    <div class="card-body">
                        <h5 class="card-title">Desfran</h5>
                        <h6 class="mt-3">Company Description</h6>

                        <p class="card-text">Desfran is a one-stop offshore service provider with a global network of partners and a diversified portfolio of businesses.</p>

                        <h6 class="mt-3">Tools</h6>
                        <p class="card-text">HTML, CSS, JavaScript, JQuery, and WordPress.</p>

                        <h6 class="mt-3">Role</h6>
                        <p class="card-text">Front-end developer, Creating custom template, Creating widgets, Updating and debugging, optimization, maintinance.</p>

                        <h6 class="mt-3">Link</h6>
                        <p class="card-text"><a href="https://www.desfran.com/">Desfran</a></p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col profFour">
                <div class="card h-100 portfolio-contents">
                    <img src="../assets/img/urbaneast.png" class="card-img-top" alt="urbaneast">
                    <div class="card-body">
                    <h5 class="card-title">UrbanEast</h5>
                    <h6 class="mt-3">Company Description</h6>

                    <p class="card-text">A top homegrown real estate development company based in Davao City, Philippines engaged in residential subdivision development, homebuilding, marketing and sales, end-buyer financing, landholding, residential property leasing, and commercial property development and leasing.</p>

                    <h6 class="mt-3">Tools</h6>
                    <p class="card-text">HTML, CSS, JavaScript, JQuery, and WordPress.</p>

                    <h6 class="mt-3">Role</h6>
                    <p class="card-text">Front-end developer, Creating widgets, Updating and debugging, optimization, maintinance.</p>

                    <h6 class="mt-3">Link</h6>
                    <p class="card-text"><a href="https://urbaneastdevelopments.com/">UrbanEast</a></p>
                </div>
                <div class="card-footer">
                </div>
                </div>
            </div>
            <div class="col profFive">
                <div class="card h-100 portfolio-contents">
                    <img src="../assets/img/chong-caffee.png" class="card-img-top" alt="chong-caffee">
                <div class="card-body">
                    <h5 class="card-title">Chong Cafe</h5>
                    <h6 class="mt-3">Company Description</h6>

                    <p class="card-text">Asia Trends Import & Export Corporation is a direct manufacturer, importer and distributor of portable Star Vending and Chong Café branded vending machines.</p>

                    <h6 class="mt-3">Tools</h6>
                    <p class="card-text">HTML, CSS, JavaScript, JQuery, and WordPress.</p>

                    <h6 class="mt-3">Role</h6>
                    <p class="card-text">Front-end developer, Creating widgets, Updating and debugging, optimization, maintinance.</p>

                    <h6 class="mt-3">Link</h6>
                    <p class="card-text"><a href="https://chongcafe.com/">Chong Cafe</a></p>
                </div>
                <div class="card-footer">
                </div>
                </div>
            </div>
            <div class="col profSix">
                <div class="card h-100 portfolio-contents">
                    <img src="../assets/img/jayshetty.png" class="card-img-top" alt="Jay Shetty Coaching">
                    <div class="card-body">
                        <h5 class="card-title">Jay Shetty Coaching</h5>
                        <h6 class="mt-3">Company Description</h6>

                        <p class="card-text">Coaching that combines Jay’s influential wisdom and experience with traditional coaching theories, industry competencies, and international standards.</p>

                        <h6 class="mt-3">Tools</h6>
                        <p class="card-text">HTML, CSS, JavaScript, JQuery, and WordPress</p>

                        <h6 class="mt-3">Role</h6>
                        <p class="card-text">Front-end developer, Creating widgets, Updating and debugging, optimization.</p>

                        <h6 class="mt-3">Link</h6>
                        <p class="card-text"><a href="https://members.jayshettycoaching.com/">Jay Shetty Coaching</a></p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
