<div class="section">
    <div class="mandala">
        <img class="mandala-right" src="../assets/img/mandala-right.png">
        <img class="mandala-left" src="../assets/img/mandala-left.png">
    </div>
</div>
<div class="container">
    <div class="row content-portfolio mb-5">
        <h1 class="mb-5 mt-5">PORTFOLIO</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col profOne">
                <div class="card h-100">
                    <img src="../assets/img/keri.png" class="card-img-top" alt="keri">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <!-- <small class="text-muted"><i>Created from Angular, and Ionic</i></small> -->
                </div>
                </div>
            </div>
            <div class="col profTwo">
                <div class="card h-100">
                    <img src="../assets/img/mmc.png" class="card-img-top" alt="marketing-media-cloud">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted"><i>Created from WordPress</i></small> -->
                </div>
                </div>
            </div>
            <div class="col profThree">
                <div class="card h-100">
                    <img src="../assets/img/desfran.png" class="card-img-top" alt="desfran">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <!-- <small class="text-muted"><i>Created from WordPress</i></small> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col profFour">
                <div class="card h-100">
                    <img src="../assets/img/urbaneast.png" class="card-img-top" alt="urbaneast">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <!-- <small class="text-muted"><i>Created from WordPress</i></small> -->
                </div>
                </div>
            </div>
            <div class="col profFive">
                <div class="card h-100">
                    <img src="../assets/img/chong-caffee.png" class="card-img-top" alt="chong-caffee">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted"><i>Created from WordPress</i></small> -->
                </div>
                </div>
            </div>
            <div class="col profSix">
                <div class="card h-100">
                    <img src="../assets/img/jayshetty.png" class="card-img-top" alt="jayshetty">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <!-- <small class="text-muted"><i>Created from WordPress</i></small> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
