<div class="mobile-navbar">
    <ul class="mobile-navbar-list">
        <li class="" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">          
            <img src="../assets/img/icon/mobile-icon/home.png" alt="">
        </li>
        <li class="" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">          
            <img src="../assets/img/icon/mobile-icon/about.png" alt="">
        </li>
        <li class="" routerLink="/portfolio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">
            <img src="../assets/img/icon/mobile-icon/portfolio.png" alt="">
        </li>
        <li class="" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">
            <img src="../assets/img/icon/mobile-icon/contact.png" alt="">
        </li>
    </ul>
</div>